
.navbar {
    display: flex;
    justify-content: flex-end;
}    

.navbar > nav {

    width: 100px;
    line-height: 50px;
    margin: 10px;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);


}
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
  }
  a:active {
    color: red;
    background-color: transparent;
    text-decoration: none;
  }

.nav1{
  background-color: aqua;
}

.name {
    margin-right: auto;
    padding-left: 50px;
    color: white;
}

.intro {
    margin: auto;
    padding-left: auto;
    padding-top: 300px;
    color: white;
}

img {
  margin-right: auto;
  width: 5%;
  height: 15%;
}

body{
    background-image: url(image/pexels-stephan-seeber-1261728.jpg);

    /* Full height */
  height: 900px; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.Box1{ 
  width: 360px; 
  height: 510px; 
  border: 5px solid black; 
  position: relative; 
  text-align: center;
  left: 170px; 
  top: 100px;
  display: block;
} 



